body, html {
    height: 92%;
}

.parallax {
    /* The image used */
    background-image: url('Images/all-rooms-background/amsterdam-1998140_1920.jpg');
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
}

.parallax2 {
    /* The image used */
    min-height: 400px;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background: url('Images/all-rooms-background/conference-room-1146244_1920.jpg') no-repeat fixed center;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}

.parallax3 {
    /* The image used */
    min-height: 400px;

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background: url('Images/all-rooms-background/terrace-1030758_1920.jpg') no-repeat fixed center;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}



.rowContainer {
    background-color: hsla(218, 5%, 25%, 0.19);
    border: solid 1px black;
}

.panel {
    background-color: hsla(218, 5%, 25%, 0.19);
    margin-top: 15px;
}

.panel-footer {
    background-color: hsla(218, 5%, 25%, 0.19);
}

.nounderline:hover {
    text-decoration: none;
}

a {
    color: black;
}

