footer
{
display: flex;
    justify-content: space-around;
    background-color: #857a78
}
nav
{
    background-color: #857A78;
}
footer > div > img
{
    margin: 8px;

}

footer

{
    font-family: 'Open Sans Condensed', sans-serif;
}

body
{
    font-family: 'Open Sans Condensed', sans-serif;
}

