footer
{
display: flex;
    justify-content: space-around;
    background-color: rgba(186,172,165,0.9)
}
nav
{
    background-color: #857A78;
}
footer > div > img
{
    margin: 8px;

}

footer

{
    font-family: 'Open Sans Condensed', sans-serif;
}

body
{
    font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron
{
    background-color: #857A78;
}
.navbar
{
    background-color: #857A78;
}

.navbar-default
{
    background-color: #857A78;
}
#navbar
{
background-color: #857A78;
    color: whitesmoke;
}

.dropdown
{
    background-color: #857A78;
    color: whitesmoke;
}

li < a
{
    color: whitesmoke;
}

.dropdown-header
{
    background-color: #857A78;
    color: whitesmoke;
}

.dropdown-menu
{
    background-color: #857A78;
    color: whitesmoke;
}

.navbar-brand
{
    color: whitesmoke;
}

.jumbotron > h2
{
    color: whitesmoke;
}

a
{
    color: whitesmoke;
}

main
{
    background-color: rgba(203,191,189,0.77);
}

